<!DOCTYPE html>
<html>
<head>
    <title>Guess Game</title>
</head>
<body style="text-align:center; font-family:Arial; margin-top:50px;">

    <h1>Guess the Secret Word</h1>
    <p>You have {{ guess_limit - guess_count }} guesses left.</p>

    {% if not game_over %}
        <form method="POST">
            <input type="text" name="guess" required>
            <button type="submit">Submit</button>
        </form>
    {% endif %}

    <h2>{{ message }}</h2>

    {% if game_over %}
        <a href="/reset">
            <button>Play Again</button>
        </a>
    {% endif %}

</body>
</html>
